.artistContainer {
  width: 100vw;
  display: flex;
  justify-content: center;

  .header {
    background: var(--color-primary);
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-top: 0;
      color: white;
    }
    .socialOptions {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: .6em;

      .socialOption {
        a {
          text-decoration: none;
          color: var(--color-accent);

          button {
            padding: 0 10px;
            min-width: auto;

            fa-icon {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .followContainer {
      button {
        font-size: 1.2em;
        line-height: 2em;
        padding: 0 1.2em;
        color: white;
      }
    }
    .genresContainer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > div, a {
        color: white;
      }
    }
  }
  .contentWrapper {
    margin: 0 5%;
  }
  @media (min-width: 768px) {
    .header {
      .socialOptions {
        .socialOption {
          a {
            button {
              fa-icon {
                font-size: 2em;
              }
            }
          }
        }
      }
    }
    .contentWrapper {
      display: flex;
      align-items: center;
      margin: 100px 5%;

      .infoContainer {
        flex: 1;
      }
      .soundcloudWrapper {
        width: 300px;
        margin-left: 50px;
      }
    }
  }
}