<div class="cardContainer">
  <a [routerLink]="['/event/' + id]">
    <div class="imageWrapper" [ngStyle]="{ 'background-image': 'url(' + backgroundImg + ')'}">
      <div *ngIf="image" class="img" [ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>
      <img *ngIf="!image" class="backupImg img" src="assets/icons/icon-96x96.png" alt="EDM Flare Logo" />
    </div>
  </a>
  <div class="eventInfo">
    <div class="dateWrapper">
      <div class="eventDate">{{date | date: 'EEE'}}</div>
      <div class="eventDate">{{date | date: 'MMM d'}}</div>
    </div>
    <div class="infoWrapper">
      <a [routerLink]="['/event/' + id]"><h3 class="eventName">{{name}}</h3></a>
      <div class="eventLocation">{{location}}</div>
      <div class="eventOptions">
        <button mat-button matTooltip="Share">
          <mat-icon class="smallIcon" (click)="share()">share</mat-icon>
        </button>
        <button 
          *ngIf="watchId"
          mat-button 
          matTooltip="Remove from watched"
          class="watched" 
          (click)="removeWatch()"
        >
          <mat-icon class="smallIcon">star</mat-icon>
        </button>
        <button 
          *ngIf="!watchId"
          mat-button 
          matTooltip="Add to watched" 
          (click)="addWatch()"
        >
          <mat-icon class="smallIcon">star_border</mat-icon>
        </button>
        <!-- <button 
          *ngIf="ticketProviderId" 
          mat-button 
          matTooltip="Buy Tickets" 
          (click)="eventService.eventbriteCheckout(ticketProviderId)"
        >
          <mat-icon class="smallIcon">loyalty</mat-icon>
        </button> -->
        <a 
          [href]="externalUrl" 
          target="_blank" 
          rel="nofollow"
          *ngIf="externalUrl"
          matTooltip="Go to Event Website"
        >
          <button mat-button>
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>