.passwordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;

  .settingsHeader {
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 20px;
    width: 100%;
  }
  form {
    width: 100%;
    max-width: 600px;

    .mat-form-field {
      display: block;
    }
    button[type='submit'] {
      color: white;
    }
  }
}