<app-pagewrapper>
  <app-settings-wrapper>
    <div class="passwordContainer">
      <h1 class="settingsHeader">Password</h1>
      <form [formGroup]="changeForm" #formDirective="ngForm" (ngSubmit)="changePassword(formDirective)">
        <h2>Change Password</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Current Password"
            type="password"  
            formControlName="currentPassword"
          />
          <mat-error *ngFor="let validation of formValidationMessages.currentPassword">
            <mat-error class="error-message" *ngIf="changeForm.get('currentPassword').hasError(validation.type) && (changeForm.get('currentPassword').dirty || changeForm.get('currentPassword').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>
        <ng-container formGroupName="matchingPassword">
          <mat-form-field>
            <input
              matInput
              placeholder="New Password"
              type="password" 
              formControlName="password"
            />
            <mat-error *ngFor="let validation of formValidationMessages.password">
              <mat-error class="error-message" *ngIf="changeForm.get('matchingPassword').get('password').hasError(validation.type) && (changeForm.get('matchingPassword').get('password').dirty || changeForm.get('matchingPassword').get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Confirm Password"
              type="password" 
              formControlName="confirmPassword"
            />
            <mat-error *ngFor="let validation of formValidationMessages.confirmPassword">
              <mat-error class="error-message" *ngIf="(changeForm.get('matchingPassword').get('confirmPassword').hasError(validation.type)|| changeForm.get('matchingPassword').hasError(validation.type)) && (changeForm.get('matchingPassword').get('confirmPassword').dirty || changeForm.get('matchingPassword').get('confirmPassword').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </ng-container>
        <button mat-flat-button color="primary" type="submit">Change Password</button>
      </form>
    </div>
  </app-settings-wrapper>
</app-pagewrapper>