<div class="cardContainer" [ngClass]="[size, new ? 'newEvent' : '']">
  <div class="imageWrapper">
    <a [routerLink]="['/event/' + id]">
      <cl-image *ngIf="!image" crop="fit" [public-id]="image" type="fetch" loading="lazy" width="108" radius="max"
        [attr.alt]="name + ' Event'">
        <cl-placeholder type="blur"></cl-placeholder>
        <cl-transformation quality="auto" fetch-format="auto"></cl-transformation>
      </cl-image>
      <cl-image *ngIf="image" crop="fit" [public-id]="appService.logoUrl" type="fetch" loading="lazy" width="108"
        [attr.alt]="'EDM Flare Logo'">
        <cl-placeholder type="blur"></cl-placeholder>
        <cl-transformation quality="auto" fetch-format="auto"></cl-transformation>
      </cl-image>
    </a>
  </div>
  <div class="eventInfo">
    <a [routerLink]="['/event/' + id]">
      <h3 class="eventName">{{name}}</h3>
    </a>
    <div class="eventDate">{{date | date: 'EEE, MMMM d'}}</div>
    <div class="eventLocation" [style.color]="location === 'Live Stream' ? 'red' : ''">{{location}}</div>
    <div class="eventOptions">
      <button mat-button matTooltip="Share">
        <mat-icon class="smallIcon" (click)="share()">share</mat-icon>
      </button>
      <button *ngIf="watchId" mat-button matTooltip="Remove from watched" class="watched" (click)="removeWatch()">
        <mat-icon class="smallIcon">star</mat-icon>
      </button>
      <button *ngIf="!watchId" mat-button matTooltip="Add to watched" (click)="addWatch()">
        <mat-icon class="smallIcon">star_border</mat-icon>
      </button>
      <!-- <button
        *ngIf="ticketProviderId"
        mat-button
        matTooltip="Buy Tickets"
        (click)="eventbriteService.eventbriteCheckout(ticketProviderId)"
      >
        <mat-icon class="smallIcon">loyalty</mat-icon>
      </button> -->
      <a [href]="externalUrl" target="_blank" rel="nofollow" *ngIf="externalUrl" matTooltip="Go to Event Website">
        <button mat-button>
          <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
        </button>
      </a>
    </div>
  </div>
  <div matTooltip="Newly Added Event" class="tooltip"></div>
</div>
