<app-pagewrapper>
  <div class="loginContainer">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Login</h1>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>
      <div class="passwordWrapper">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" />
        </mat-form-field>
        <a [routerLink]="['/password-forgot']">
          <button mat-button matTooltip="Forgot your password?">
            <fa-icon [icon]="faQuestionCircle"></fa-icon>
          </button>
        </a>
      </div>
      <div class="linkWrapper"></div>
      <button mat-flat-button color="accent" type="submit">Login</button>
      <!-- <app-social-logins></app-social-logins> -->
      <div class="new">
        New to EDM Flare?
        <a [routerLink]="['/signup']" [queryParams]="{ redirect: redirect }">
          <button mat-button color="primary" class="createNewBtn">
            Create a New Account
          </button>
        </a>
      </div>
    </form>
  </div>
</app-pagewrapper>
