@import '../../../../shared/ghost-animation.scss';
@import '../../../../shared/event-card/event-card.component.scss';

:host {
  position: absolute;
  display: block;  
  overflow: hidden;
  z-index: 9999;
  top: calc(var(--height-navbar) + 6vh);   
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.ghost_item {
  overflow: hidden;
  margin-bottom: -6px;

  .imageWrapper {
    background-color: #ddd; 
    border: solid 2px rgb(212, 212, 212);
    border-radius: 50%;  
    //@include animate-ghost-avatar;
    // background: url(assets/silohuette.svg);
    background-size: 50px 50px; 
    height: 100px;
    width: 100px;
  }

  .lines { 
     
    .ghostLine {
      height: 24px;
      background-color: #ccc;
      border-bottom: 2px solid white;
      border-radius: 4px 4px 4px 4px;
      @include animate-ghost-line;
      cursor: default;

      &.eventDate {
        width: 50%;
      }
      &.eventLocation {
        width: 100%;
      }
    }

    h3 {
      &.ghostLine {
        width: 85%;
        height: 1.5em;
      } 
    }
    button {
      height: 1.5em;
      cursor: default;
      background: #ddd;
      margin: 0 10px;
    }  
  }
}
.ghost_item:hover {
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  :host {
    top: var(--height-navbar);
  }
  .ghost_item {
    width: 50vw;
    box-sizing: border-box;
    margin-left: 50vw;

    .lines { 
      
      .ghostLine {

        &.eventDate {
          width: 35%;
        }
        &.eventLocation {
          width: 75%;
        }
      }

      h3 {
        &.ghostLine {
          width: 50%;
        } 
      }
    }
  }
}

