<div class="modalContainer">
  <div class="mobilePromptClose" (click)="dismiss()">
    <button mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h3 class="header">Share With Friends</h3>
  <div class="shareContainer">
    <button *ngFor="let btn of btns" mat-fab [shareButton]="btn" [style.backgroundColor]="share.prop[btn].color">
      <fa-icon [icon]="share.prop[btn].icon" size="lg"></fa-icon>
    </button>
  </div>
  <div class="urlContainer">
    <div class="wrapper">
      <div>Event URL</div>
      <div>{{data.shareUrl}}</div>
    </div>
    <button mat-button (click)="copy()" matTooltip="Copy">
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
</div>
