<app-pagewrapper>
  <div class="resetContainer">
    <form [formGroup]="resetForm" #formDirective="ngForm" (ngSubmit)="sendReset(formDirective)" *ngIf="!isReset">
      <h2>Reset Password</h2>
      <mat-form-field>
        <input matInput placeholder="Choose a new password" formControlName="password" />
        <mat-error *ngFor="let validation of formValidationMessages.email">
          <mat-error class="error-message"
            *ngIf="resetForm.get('password').hasError(validation.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Reset Password</button>
    </form>
    <div *ngIf="isReset">
      <img class="logoImg" src="assets/icons/icon-192x192.png" alt="EDM Flare Logo" />
      <h3>Password Reset</h3>
      <div>Your password was reset; you can go and log in now</div>
    </div>
  </div>
</app-pagewrapper>
