<app-pagewrapper>
  <div class="resetContainer">
    <form [formGroup]="resetForm" #formDirective="ngForm" (ngSubmit)="sendReset(formDirective)">
      <h2>Reset Password</h2>
      <mat-form-field>
        <input
          matInput
          placeholder="Email" 
          formControlName="email"
        />
        <mat-error *ngFor="let validation of formValidationMessages.email">
          <mat-error class="error-message" *ngIf="resetForm.get('email').hasError(validation.type) && (resetForm.get('email').dirty || resetForm.get('email').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Reset</button>
    </form>
  </div>
</app-pagewrapper>
