.eventsContainer {
  width: 100%;
  position: relative;

  .toggleContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6vh;
    width: 100vw;
    position: relative;
    top: var(--height-navbar);
    background: var(--color-primary);
    
    > div,
    mat-icon {
      color: white;
    }
  }
  .searchContainer {
    width: 100vw;
    padding: 5%;
    box-sizing: border-box;
    z-index: 999;
    position: fixed;
    top: calc(var(--height-navbar) + 6vh);
    left: 0;
    height: 50vh;

    &.collapsed {

      form {
        height: 0;
        overflow: hidden;
        transition: .3s;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .searchWrapper {
        flex: 1;
        
        .dateWrapper {
          font-size: .75em;
        }
        .locationWrapper {
          display: flex;

          .in {
            color: #c2c2cc;
            margin-right: 1em;
          }
          button {
            color: #c2c2cc;
            min-width: auto;
            padding: 0 4px;
            margin-left: 10px;
          }
        }
        mat-form-field {
          width: 100%;

          .mat-form-field-infix {
            padding-top: 0;
            border-top: 0;
          }
        }
        app-location-search {
          display: inline-block;
          width: 100%;
        }
      }
      .searchBtn {
        background: var(--color-accent);
        color: white;
        // font-size: 1em;
        margin: 0 1em;
      }
    }
  }
  .eventsWrapper {
    height: calc(100vh - var(--height-navbar) - 200px - 6vh);
    width: 100vw;
    position: absolute;
    top: 200px;
    margin-top: 16vh;
    z-index: 999;
    transition: .3s;

    &.collapsed {
      height: calc(100vh - var(--height-navbar) - 6vh);
      margin-top: 0;
      top: calc(var(--height-navbar) + 6vh);
    }
    .eventFallback {
      margin-top: 5%;

      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h2 {
        text-align: center;
      }
    }
  }
  @media (min-width: 768px) {
    display: flex;

    .toggleContainer {
      display: none;
    }
    .searchContainer {
      width: 50vw;
      padding: 1.5em;
      top: var(--height-navbar);

      &.collapsed {
        form {
          height: auto;
        }
      }
      form {
  
        .searchWrapper {
          font-size: 1.5em;

          .dateWrapper {
            font-size: .75em;
          }
        }
      }
    }
    .eventsWrapper {
      height: calc(100vh - var(--height-navbar));
      width: 100vw;
      top: 0;
      z-index: 1;

      &.collapsed {
        height: calc(100vh - var(--height-navbar));
        top: calc(var(--height-navbar));
      }
      .eventFallback {
        width: 50vw;
        margin-left: 50vw;
      }
    }
  }
}