<app-pagewrapper>
	<div class="verifyContainer">
		<cl-image crop="fit" [public-id]="appService.logoUrl" type="fetch" loading="lazy" width="192"
			[attr.alt]="'EDM Flare Logo'" class="logoImg">
			<cl-placeholder type="blur"></cl-placeholder>
			<cl-transformation quality="auto" fetch-format="auto"></cl-transformation>
		</cl-image>
		<h1 *ngIf="!isVerified && !isFailed">Verifying Email...</h1>
		<div *ngIf="isVerified && !isFailed">
			<h1>Email Verified</h1>
			<div>Thank you for verifying your email address. You may now close this window.</div>
		</div>
		<div *ngIf="isFailed">
			<h1>Something went wrong</h1>
			<div>Looks like the link you arrived here with is broken. Try again.</div>
		</div>
	</div>
</app-pagewrapper>
