<app-pagewrapper>
  <div class="setupContainer">
    <img class="logoImg" src="assets/icons/icon-192x192.png" alt="EDM Flare Logo" />
    <h3>Setup</h3>
    <h5>Notifications</h5>
    <app-notification-preferences-component></app-notification-preferences-component>
    <div class="themeWrapper">
      <h5>Choose a Theme</h5>
      <app-theme-toggle></app-theme-toggle>
    </div>
    <app-get-app></app-get-app>
    <button mat-flat-button color="accent" (click)="completeSetup()" class="complete">Complete Setup
    </button>
  </div>
</app-pagewrapper>
