<div 
  class="navBarContainer" 
  [ngClass]="collapsibleNav ? (utilService.scrollDirection === 'down' ? 'hidden' : null) : null" 
  id="navBar"
>
  <div class="navBarWrapper">
    <div class="barWrapper">
      <div class="backWrapper">
        <button *ngIf="hasBack" mat-button (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
      </div>
      <div class="logoWrapper">
        <a class="logo" [routerLink]="['/']"><img src="assets/images/edm_flare_opt.svg" alt="EDM Flare Logo" /></a>
      </div>
      <div class="right">
        <button class="menuBtn" mat-button [matMenuTriggerFor]="menu"><mat-icon>person_outline</mat-icon></button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
          <div *ngIf="!signedIn">
            <a [routerLink]="['/signup']" [queryParams]="{ redirect: router.url }"><button mat-menu-item>Signup</button></a>
            <a [routerLink]="['/login']" [queryParams]="{ redirect: router.url }"><button mat-menu-item>Login</button></a>
          </div>
          <div *ngIf="signedIn">
            <a [routerLink]="['/user/' + userService.user.username]"><button mat-menu-item>Feed</button></a>
            <!-- <a [routerLink]="['/create-event']"><button mat-menu-item>Create Event</button></a> -->
            <a [routerLink]="['/settings']"><button mat-menu-item>Account Settings</button></a>
            <button mat-menu-item (click)="logout()">Log out</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>