.loginsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    color: white;
    font-size: 0.8em;
    height: 45px;
    margin-bottom: 10px;
    width: 100%;

    fa-icon {
      margin-right: 10px;
    }
  }
  button:last-child {
    margin-bottom: 0;
  }
}
