<app-pagewrapper>
  <div class="aboutContainer">
    <div class="wrapper">
      <div class="logoWrapper">
        <img class="logoImg" src="assets/icons/icon-192x192.png" alt="EDM Flare Logo" />
      </div>
      <section>
        <h3 class="header boldFont">Discover Your Next Legendary Night</h3>
        <p class="content">
          Welcome to EDM Flare, a community built for dance fanatics, weekend warriors, and ravers to take the pain out of finding their next exciting show. Check out upcoming events in cities across the US and Canada in addition to artist and venue information and the ability to buy tickets.
          <br><br>
          Learn more about artists and venues with our comprehensive listings of the most famous and true up and comers. Check out tour dates, discographies, event calendars, and more all in one place. Interact with the community of other show goers. From well-seasoned ravers to bright-eyed and bushy-tailed first timers the community can help answer questions and provide inspiration for your upcoming experiences. Stay in the know with notifications as often as you want about new upcoming shows. Keep your friends up to date by sharing events you think they would enjoy.
          <br><br>
          There's no time like the present to explore the upcoming shows that will help create your biggest memories. Whether you're out to find the next hot artist, dance the night away, or just jam out with your friends EDM Flare will be there to take away the stress of event discovery and get you out there.
        </p>
      </section>
    </div>
  </div>
</app-pagewrapper>
  