<div class="formWrapper">
  <div class="frequencyContainer">
    <p>Frequency To Receive New Show Updates</p>
    <mat-form-field>
      <mat-select name="frequencyInput" [(ngModel)]="frequency" (selectionChange)="changeFrequency()">
        <mat-option *ngFor="let frequency of frequencies;" [value]="frequency.value">
          {{frequency.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <div class="pushContainer">
    <h5>Mobile Push Notifications</h5>
    <mat-checkbox [(ngModel)]="pushNotification" (change)="togglePushNotifications()">Receive push notifications about newly added shows</mat-checkbox>
  </div>  -->
  <div class="emailContainer" *ngIf="frequency !== 'NEVER'">
    <h5>Email Notifications</h5>
    <mat-checkbox [(ngModel)]="emailNotification" (change)="toggleEmailNotifications()">Receive email notifications
    </mat-checkbox>
    <div class="locationsContainer" *ngIf="emailNotification">
      <app-location-search placeholder="Search Location (up to 5)" autocomplete="off"
        (selected)="selectLocation($event)" [value]="locationValue"></app-location-search>
      <mat-chip-list aria-label="Location selection">
        <mat-chip *ngFor="let location of locations; let i = index" [removable]="true"
          (removed)="removeLocation(location.id, i)" color="accent" selected>
          {{location.label}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
