<app-pagewrapper>
  <div class="forgotContainer">
    <form [formGroup]="forgotForm" #formDirective="ngForm" (ngSubmit)="sendReset(formDirective)" *ngIf="!emailSent">
      <h2>Forgot Password</h2>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngFor="let validation of formValidationMessages.email">
          <mat-error class="error-message"
            *ngIf="forgotForm.get('email').hasError(validation.type) && (forgotForm.get('email').dirty || forgotForm.get('email').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Reset</button>
    </form>
    <div *ngIf="emailSent">
      <img class="logoImg" src="assets/icons/icon-192x192.png" alt="EDM Flare Logo" />
      <h3>You've got mail</h3>
      <div>We've sent you an email reset link; click the link and follow the instructions</div>
    </div>
  </div>
</app-pagewrapper>
